/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Extra desktops
$screen-xl-min: 1200px;

// Extra Extra Large desktops
$screen-xxl-min: 1440px;


// Colors vars
:root {
    --black: #000000;
    --white: #ffffff;
    --midnightNavy: #2C3E50;
    --midGrey: #708090;
    --skyBlue: #3498DB;
    --lightGrey: #ECF0F1;
    --charcoal: #333333;
    --red: #E74C3C;
    --lightBeige: #FDF6EC;
    --darkBeige: #D9CBB3;
  }
