/* =============
    About
============= */
@use "../helpers";

#about{
    margin: 60px 24px;

    h1{
        margin-bottom: 16px;
    }

    p{
        color: var(--grey);
        font-size: helpers.rem-calc(16);
        font-weight: 600;
        line-height: helpers.rem-calc(28);
    }

    #about-content{

        ul{

            li{
                margin-top: 16px;

                h3{
                    color: var(--nightBlue);
                    font-size: helpers.rem-calc(20);
                    font-weight: 600;
                    line-height: 28px;
                }
            }
        }
    }

    .about-img{
        margin-top: 68px;
    }
}