/* =============
    Process
============= */
@use "../helpers";

#process{

    .process-p {
        margin: 12px 0px 24px;
    }

    ul{
        li{
            border: 1px solid var(--lilyWhite);
            margin-bottom: 24px;
            padding: 30px;
            border-radius: 12px;
            background-color: var(--white);

            h2 {
                font-size: helpers.rem-calc(24);
                color: var(--nightBlue);
                margin: 40px 0px 12px;
                font-weight: 600;
            }
        }

        #selected {
            box-shadow: 0px 30px 30px 0px rgba(3, 3, 37, 0.15);
        }
    }
}